# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Environment Variables

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    env:
      SOLUTION_PATH: ./...
      DOCKERFILE_PATH: .

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Restore dependencies
      run: go mod download

    - name: Build
      run: go build -v $SOLUTION_PATH

    - name: Test
      run: go test -v $SOLUTION_PATH

  docker:
        name: Docker
        runs-on: ubuntu-latest
        needs: [build]
        steps:
        - uses: actions/checkout@v4
        - name: docker build
          run: docker build $DOCKERFILE_PATH --file Dockerfile --tag golang-docker